@use "@wordpress/base-styles/mixins";

:root {

	@include mixins.admin-scheme(#3858e9);
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	color: #3c434a;
	font-family: var(--wpds-typography-font-family-body);
	font-size: var(--wpds-typography-font-size-md);
	line-height: var(--wpds-typography-line-height-sm);
}

a,
div {
	outline: none;
}
