@use "@wordpress/base-styles/mixins";
@use "@wordpress/base-styles/breakpoints";

$sidebar-width: 200px;

.preferences-modal {

	@include mixins.break-medium() {
		height: 70%;
	}
}

.preferences-modal__tabs {
	background: var(--wpds-color-background-surface-neutral-strong);
	padding: var(--wpds-dimension-padding-lg);
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);

	@include mixins.break-medium() {
		width: $sidebar-width;
		padding: 0;
		border-bottom: 0;
	}
}

.preferences-modal__panel {
	max-width: var(--wpds-dimension-surface-width-sm);
	padding: var(--wpds-dimension-padding-lg);

	@include mixins.break-medium() {
		flex: 1;
		min-width: 0;
		padding: 0;
	}

	.components-input-control__label {
		white-space: nowrap;
	}
}
