.list-view-sidebar {
	flex: 0 0 auto;
	position: relative;
	border-right: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);
	background: var(--wpds-color-background-surface-neutral-strong);
	overflow: hidden;
	z-index: 35;
}

.list-view-sidebar__inner {
	height: 100%;
}

.list-view-sidebar__close-button {
	position: absolute;
	top: var(--wpds-dimension-padding-sm);
	right: var(--wpds-dimension-padding-sm);
	z-index: 1;
}

.list-view-sidebar__tabs {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

.list-view-sidebar__tabs-list {
	flex: 0 0 auto;
}

.list-view-sidebar__tab-panel {
	overflow: auto;
	border-top: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral);
}
