.inserter-sidebar {
	flex: 0 0 auto;
	position: relative;
	border-right: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);
	background: var(--wpds-color-background-surface-neutral-strong);
	overflow: hidden;
	z-index: 35;
}

.inserter-sidebar__inner {
	overflow: hidden;
	height: 100%;
}

.inserter-sidebar__search {
	flex: 0 0 auto;
	padding: var(--wpds-dimension-padding-sm);

	&.is-scrolled {
		border-bottom: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);
	}
}

.inserter-sidebar__search-control {
	flex: 1 1 auto;
}

.inserter-sidebar__block-list {
	flex: 1 1 auto;
	min-height: 0;
	padding: var(--wpds-dimension-padding-sm);
	display: flex;
	flex-direction: column;
	gap: var(--wpds-dimension-gap-sm);
	overflow-y: auto;
}

.inserter-sidebar__block-list-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--wpds-dimension-gap-sm);
}

.inserter-sidebar__block-list-item {
	flex-direction: column;
	gap: var(--wpds-dimension-gap-xs);
}
