.block-placeholder {
	max-width: none;
	padding: var(--wpds-dimension-padding-2xl);
	border: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-strong);
	border-radius: var(--wpds-border-radius-sm);
	background: var(--wpds-color-background-surface-neutral-strong);
}
