.wp-block-heading {
	line-height: 1.25;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h1 {
	border-bottom: 1px solid #d1d9e0;
	padding-bottom: 0.3em;
	font-size: 2em;
}

h2 {
	border-bottom: 1px solid #d1d9e0;
	padding-bottom: 0.3em;
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.875em;
}

h6 {
	color: #59636e;
	font-size: 0.85em;
}
