.mobile-block-toolbar {
	flex: 0 0 auto;
	border-bottom: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral);

	.block-editor-block-contextual-toolbar.is-unstyled {
		box-shadow: none;
	}

	.block-editor-block-toolbar {
		overflow-x: auto;
		overflow-y: hidden;

		.components-toolbar-group,
		.components-toolbar {
			border-color: var(--wpds-color-stroke-surface-neutral);
		}
	}
}
