.mark-bricks-drop-zone {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--wpds-color-bg-interactive-brand-strong);
	color: var(--wpds-color-fg-interactive-brand-strong);
	opacity: 0;
	pointer-events: none;

	@media not (prefers-reduced-motion) {
		transition: opacity 0.1s ease;
	}

	&.is-dragging-over {
		opacity: 1;
	}
}
