html,
body {
	margin: 0;
	padding: 0;
	background: var(--vscode-editorWidget-background);
}

body {
	font-family: var(--vscode-font-family);
}

.preview-notice {
	color: var(--vscode-descriptionForeground);
	font-size: 16px;
}
