.tabbar {
	background: var(--wpds-color-background-surface-neutral-weak);
	border-bottom: var(--wpds-border-width-xs) solid var(--wpds-color-stroke-surface-neutral-weak);
	position: relative;
	padding-right: var(--wpds-dimension-size-lg);
}

.tabbar__tabs {
	flex: 1 1 auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.tabbar__tab {
	position: relative;
}

.tabbar__close {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--wpds-dimension-size-5xs);
	color: var(--wpds-color-foreground-content-neutral-weak);

	svg {
		width: var(--wpds-dimension-size-2xs);
		height: var(--wpds-dimension-size-2xs);
	}

	&:focus,
	&:hover {
		opacity: 1;
	}
}

.tabbar__activate {
	min-width: 96px;
	max-width: 200px;
	border-radius: 0;
	border-top-color: var(--wpds-color-stroke-surface-neutral-weak);
	border-right-color: var(--wpds-color-stroke-surface-neutral-weak);
	padding-left: var(--wpds-dimension-size-4xs);
	padding-right: var(--wpds-dimension-size-lg);
	cursor: pointer;

	&.is-active {
		background: var(--wpds-color-background-surface-neutral-strong);

		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: calc(-1 * var(--wpds-border-width-xs));
			height: var(--wpds-border-width-xs);
			background: var(--wpds-color-background-surface-neutral-strong);
		}
	}

	&:hover + .tabbar__close,
	&.is-active + .tabbar__close {
		opacity: 1;
	}

	&:focus {
		outline: var(--wp-admin-border-width-focus) solid var(--wp-admin-theme-color);
		outline-offset: calc(-1 * var(--wpds-border-width-focus) - var(--wpds-border-width-xs));
	}
}

.tabbar__title {
	min-width: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tabbar__dirty {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--wpds-dimension-size-md);
	width: var(--wpds-dimension-size-5xs);
	height: var(--wpds-dimension-size-5xs);
	border-radius: 50%;
	background: var(--wpds-color-foreground-content-neutral-weak);
	opacity: 0;

	&.is-dirty {
		opacity: 1;
	}
}

.tabbar__new {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	min-width: var(--wpds-dimension-size-xs) !important;
	height: var(--wpds-dimension-size-xs) !important;
}
