.wp-block-code {
	position: relative;
	padding: 0;
	color: var(--wpds-color-foreground-content-neutral);
	line-height: 1.45;
	background: var(--wpds-color-background-surface-neutral-weak);
	border: 1px solid var(--wpds-color-stroke-surface-neutral);

	.cm-editor,
	.wp-block-code__mermaid {
		padding: 1.5rem 1rem;
	}

	.cm-focused {
		outline: none;
	}

	&[data-language]::before {
		content: attr(data-language);
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 0.5rem;
		pointer-events: none;
		border-right: 1px solid var(--wpds-color-stroke-surface-neutral);
		border-bottom: 1px solid var(--wpds-color-stroke-surface-neutral);
		z-index: 1;
		border-bottom-right-radius: 3px;
	}

	&:not(.is-selected):has(.wp-block-code__mermaid) {
		background: var(--wpds-color-background-surface-neutral);
	}

	&.is-selected .wp-block-code__mermaid {
		margin-top: 1em;
	}

	.wp-block-code__mermaid-diagram {
		background: var(--wpds-color-background-surface-neutral);
		overflow-x: auto;
		text-align: center;
		margin-top: 1em;
		padding: 1em;

		&.is-stale {
			opacity: 0.5;
		}
	}

	.wp-block-code__mermaid-error-detail {
		margin: 0;
		font-family: var(--wpds-typography-font-family-mono);
		white-space: pre-wrap;
		font-size: 90%;
	}
}
