.wp-block-code {
	position: relative;
	padding: 1.5rem 1rem;
	color: #1f2328;
	border-radius: 6px;
	line-height: 1.45;
	background: #f6f8fa;
	border: 1px solid #d1d9e0;

	.cm-editor {
		color: inherit;
		background: inherit;
	}

	.cm-focused {
		outline: none;
	}

	&[data-language]::before {
		content: attr(data-language);
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 0.5rem;
		pointer-events: none;
		border-right: 1px solid #d1d9e0;
		border-bottom: 1px solid #d1d9e0;
		z-index: 1;
		border-bottom-right-radius: 3px;
	}

	&:not(.is-selected):has(.wp-block-code__mermaid) {
		background: #fff;
	}

	&.is-selected .wp-block-code__mermaid {
		margin-top: 1em;
	}

	.wp-block-code__mermaid-diagram {
		background: #fff;
		overflow-x: auto;
		text-align: center;
		margin-top: 1em;
		padding: 1em;
	}

	.wp-block-code__mermaid-diagram.is-stale {
		opacity: 0.5;
	}

	.wp-block-code__mermaid-error-detail {
		margin: 0;
		font-family: var(--wpds-typography-font-family-mono);
		white-space: pre-wrap;
	}
}
