.editor-placeholder {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	padding: var(--wpds-dimension-padding-lg);
}

.editor-placeholder__hint {
	color: var(--wpds-color-fg-content-neutral-weak);
}
